<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .login {
            margin-top: 100px;
        }
        .mt10 {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container login">
    <div class="title">
        <h1>HOST MANAGER</h1>
    </div>
    <form action="/login" method="post">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <input type="password" name="password" class="form-control" placeholder="Your Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="input-group input-group-lg mt10">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>
    </form>
</div>
</body>
</html>