html, body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
html, body, .framework, .framework>.row {
    height: 100%;
}
#app>.el-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.el-aside {
    background: rgb(45, 62, 80);
    height: 100%;
}
.el-main {
    background: rgb(41, 43, 55);
    height: 100%;
    position: relative;
    padding: 0px;
}
.el-header {
    background: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(226, 226, 226);
    box-sizing: border-box;
}

.el-header h4 {
    height: 60px;
    line-height: 60px;
    font-weight: 200;
    margin: 0;
    float: left;
    display: inline-block;
}

.el-header h4 + i {
    margin: 24px 0 24px 10px;
    display: inline-block;
    color: #ccc;
}

.el-header .group-controller {
    margin-top: 10px;
    float: right;
}

.el-button--gray {
    background: rgb(243, 243, 243);
}

.el-footer {
    background: rgb(243, 243, 243);
    box-shadow: none;
    border-top: 1px solid rgb(226, 226, 226);
    box-sizing: border-box;
}

/*.el-table {*/
    /*background: rgb(150, 166, 166);*/
/*}*/

.el-table--border, .el-table--group {
    border: none;
}
/*.el-table th, .el-table tr {*/
    /*background: rgb(150, 166, 166);*/
/*}*/
.el-table--border th {
    background: rgb(250, 250, 250);
}
/*.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {*/
    /*border-right: 1px solid rgb(164, 175, 175);*/
    /*color: #fff;*/
/*}*/
/*.el-table td, .el-table th.is-leaf {*/
    /*border-bottom: 1px solid rgb(164, 175, 175);*/
/*}*/
/*.el-table--border::after, .el-table--group::after, .el-table::before {*/
    /*background-color: rgb(164, 175, 175);*/
/*}*/

/*.el-table--enable-row-hover .el-table__body tr:hover>td {*/
    /*background-color: rgb(110, 132, 136);*/
    /*color: #fff;*/
    /*transition: background-color,color .25s ease;*/
/*}*/

.el-table--enable-row-transition .el-table__body td {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
td .edit-column {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

td .col-split {
    margin: 0 5px 0 5px;
}
td.el-table_1_column_4 i {
    cursor: pointer;
}
.aside-controller {
    background: rgba(0,0,0,0.2);
    height: 60px;
}

.aside-controller .el-button-group {
    float: right;
    margin-top: 10px;
    padding: 0 10px;
}

.aside-controller .el-button-group .el-button {
    padding: 12px 16px;
}

.aside-controller .el-button-group .el-button--primary:focus, .aside-controller .el-button-group .el-button--primary:hover {
    background: #2b3e51;
    border-color: #2b3e51;
    color: #fff;
}

.aside-controller .el-button-group .el-button--primary {
    color: rgba(255, 255, 255, 0.7);
    background-color: #1a2b3c;
    border-color: #223241 !important;
    font-weight: 100;
}

.list {
    color: #999;
    list-style: none;
    padding: 0;
    margin: 0;
}
.list li {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 0 15px 0 15px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all ease .2s ;
    -moz-transition: all ease .2s;
    -ms-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}
.list li span.checkbox {
    float:right;
}
.list li:hover, .list li.current {
    color: #fff;
    background: rgb(52, 73, 94);
    -webkit-transition: all ease .2s ;
    -moz-transition: all ease .2s;
    -ms-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}
.list li .fa {
    margin-right: 5px;
    transform: scale(0.75);
}
.list-view {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    position: absolute;
    left: 15px;
    bottom: 0;
}
.list-view table {
    background: #000;
}

.wrapper {
    width: 100%;
    height: 100%;
}


.add-panel .el-input {
    margin-top: 10px;
    width: 220px;
}

/**
    fix the icon that about size of domain
 */
.add-panel .el-input i.el-icon-fa-desktop {
    margin-top: 1px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

[class^="el-icon-fa"], [class*=" el-icon-fa"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome!important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[v-cloak] {
    display: none;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.el-footer .el-button+.el-button {
    margin-left: 5px;
}